a{
    font-size: 15px;
}

a:link{
    text-decoration: none;
    color:#0099ff;
}
a:visited{
    text-decoration: none;
    color:red;
}
a:hover{
    text-decoration: underline;
    color:aqua;
    font-size: 120%;
}
a:active{
    text-decoration: none;
    color:cornflowerblue;
}